# Node
node_modules/
npm-debug.log*

# Build outputs
smart-study-planner/dist/
student-profile/dist/

# Vite
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
